@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-family: "Poppins", sans-serif;
}

.header {
    width: 100%;
    padding: 80px;

    background-color: #000;
    color: white;
}

.header h1 { font-size: 100px; }

.header h3 {
    font-size: 17px;
    font-weight: 300;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(6, 150px);

    justify-items: center;
    align-items: center;

    padding: 150px;
}

.button {
    position: relative;

    padding: 0;
    border: none;
    background-color: transparent;

    font-size: 16px;
    font-family: "Poppins", sans-serif;

    cursor: pointer;
    user-select: none;
}

.button-1 {
    height: 40px;
    padding: 10px 16px;

    border-radius: 8px;
    background-color: #EA4C89;
    
    color: white;


    font-size: .875rem;
    font-weight: 300;
    line-height: 20px;
}

.button-2 {
    padding: 0 16px;
    
    height: 40px;
    
    color: #333;
    border-radius: 8px;
    background-color: rgba(51, 51, 51, 0.05);
    
    font-size: .875rem;
    font-weight: 400;
    line-height: 20px;
}

.button-2 {
    padding: 0 16px;
    
    height: 40px;
    
    color: #333;
    border-radius: 8px;
    background-color: rgba(27, 100, 76, 0.05);
    
    font-size: .875rem;
    font-weight: 400;
    line-height: 20px;
}

.button-3 {
    padding: 0 20px;
    
    height: 35px;
    
    color: #FFF;
    border-radius: 6px;
    background-color: #2c974b;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    
    font-size: .875rem;
    font-weight: 400;
    line-height: 17.5px;
}

.button-4 {
    padding: 0px 16px;
    
    height: 35px;
    
    color: #24292E;
    border-radius: 6px; 
    background-color: #FAFBFC;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    border: 1px solid rgba(27, 31, 35, 0.15);
    
    font-size: .875rem;
    font-weight: 400;
    line-height: 17.5px;
}

.button-5 {
    padding: 0px 24px;
    
    height: 48px;
    
    color: #FFF;
    border-radius: 4px; 
    background-color: rgb(255, 115, 0);
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    
    font-size: 1rem;
    font-weight: 500;
    line-height: 22px;
}

.button-6 {
    padding: 0px 24px;
    
    height: 48px;
    
    color: #3c3c3c;
    border-radius: 4px; 
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    border: 1px solid rgba(27, 31, 35, 0.15);
    
    font-size: 1rem;
    font-weight: 500;
    line-height: 22px;
}

.button-6 {
    padding: 0px 24px;
    
    height: 48px;
    
    color: #3c3c3c;
    border-radius: 4px; 
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    border: 1px solid rgba(27, 31, 35, 0.15);
    
    font-size: 1rem;
    font-weight: 500;
    line-height: 22px;
}

.button-7 {
    padding: 0px 15px;
    
    height: 35px;
    
    color: #FFF;
    border-radius: 4px; 
    background-color: #0095ff;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    border: 1px solid rgba(27, 31, 35, 0.15);
    
    font-size: .8rem;
    font-weight: 300;
    line-height: 17.5px;
}

.button-8 {
    padding: 0px 15px;
    
    height: 35px;
    
    color: #39739d;
    border-radius: 4px; 
    background-color: #e1ecf4;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    border: 1px solid #7aa7c7;
    
    font-size: .8rem;
    font-weight: 300;
    line-height: 17.5px;
}

.button-9 {
    padding: 0px 30px;
    
    height: 45px;
    
    color: #FFF;
    border-radius: 4px; 
    background-color: #405cf5;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0;
    
    font-size: .875rem;
    font-weight: 300;
    line-height: 22.5px;
}

.button-10 {
    padding: 0px 16px;
    
    height: 30px;
    
    color: #FFF;
    border-radius: 6px; 
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    
    font-size: .8rem;
    font-weight: 300;
    line-height: 17.5px;
}

.button-11{
    padding: 0px 16px;
    
    height: 30px;
    
    color: #3c3c3c;
    border-width: 1px;
    border-style: solid;
    border-color: #adb1b8;
    border-radius: 3px; 
    background: linear-gradient(#f7f8fa ,#e7e9ec);
    box-shadow: 0px 0.5px 1.5px rgba(213, 213, 213, 0.25);
    
    font-size: .8rem;
    font-weight: 300;
    line-height: 17.5px;
}

.button-12{
    padding: 0px 16px;
    
    height: 45px;
    
    color: #FFF;
    border-bottom: 4px solid #158ec8;
    border-radius: 15px; 
    background: #1899D2;
    box-shadow: 0px 0.5px 1.5px rgba(213, 213, 213, 0.25);
    
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 500;
    line-height: 25px;
    transition: filter .2s;
}

.button-12:hover { filter: brightness(1.1); }

.button-13{
    padding: 0px 16px;
    
    height: 40px;
    
    color: #FFF;
    border-radius: 5px; 
    border: 1px solid #FF4742;
    background: #FF4742;
    box-shadow: 0px 0.5px 1.5px rgba(213, 213, 213, 0.25);
    
    font-size: .875rem;
    font-weight: 500;
    line-height: 25px;
    transition: background .2s;
}

.button-13:hover {
    color: #FF4742;

    background: transparent;
}

.button-14 {
    padding: 0px 30px;
    
    height: 55px;
    
    color: #FFF;
    border-radius: 10px; 
    background: #000;
    
    font-size: .875rem;
    font-weight: 500;
    line-height: 27.5px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.button-14:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-15 {
    padding: 0px 30px;
    
    height: 55px;
    
    color: #3C3C3C;
    background: #000;
    border: 2px solid #000;
    border-radius: 10px; 
    background: #FFF;
    
    font-size: .875rem;
    font-weight: 500;
    line-height: 27.5px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.button-15:hover {
    color: #FFF;
    background: #000;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-16 {
    padding: 0px 30px;
    
    height: 50px;
    
    color: #FFF;
    background: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    border-radius: 6px; 
    
    font-size: .875rem;
    font-weight: 300;
    line-height: 25px;
    transition: box-shadow .15s,transform .15s;
}

.button-16:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-16:active {
    box-shadow: rgba(58, 65, 111, .5) 0 3px 7px inset;
    transform: translateY(2px);
}

.button-17 {
    padding: 0px 30px;
    
    height: 50px;
    
    color: #3C3C3C;
    background-color: #FFF;
    border: 0;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(196, 196, 196, 0.5) 0 -3px 0 inset;
    border-radius: 6px; 
    
    font-size: .875rem;
    font-weight: 300;
    line-height: 25px;
    transition: box-shadow .15s,transform .15s;
}

.button-17:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(196, 196, 196, 0.5) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-17:active {
    box-shadow: rgba(58, 65, 111, .5) 0 3px 7px inset;
    transform: translateY(2px);
}

.button-18 {
    padding: 0px 20px;
    
    height: 40px;
    
    color: green;
    background-color: #c2fbd7;
    border-radius: 290px;
    border: 0;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, 
                rgba(44, 187, 99, .15) 0 1px 2px, 
                rgba(44, 187, 99, .15) 0 2px 4px, 
                rgba(44, 187, 99, .15) 0 4px 8px, 
                rgba(44, 187, 99, .15) 0 8px 16px, 
                rgba(44, 187, 99, .15) 0 16px 32px;
    
    font-size: .875rem;
    font-weight: 300;
    line-height: 25px;
    transition: all .2s;
}

.button-18:hover {
    box-shadow: rgba(44, 187, 99, .3) 0 -25px 18px -14px inset, 
                rgba(44, 187, 99, .2) 0 1px 2px, 
                rgba(44, 187, 99, .2) 0 2px 4px, 
                rgba(44, 187, 99, .2) 0 4px 8px, 
                rgba(44, 187, 99, .2) 0 8px 16px, 
                rgba(44, 187, 99, .2) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.button-19 {
    padding: 0px 20px;
    
    height: 50px;
    
    color: #3C3C3C;
    background-color: transparent;
    border: 0;
    
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 300;
    line-height: 25px;
}

.button-19::after {
    content: '';
    display: block;

    position: absolute;
    left: 0%;
    top: 0;
    z-index: -1;

    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);

    width: 100%;
    height: 100%;

    background-color: #EBEBEB;
    transform: translateZ(-100%);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
}

.button-19:hover:after {
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-20 {
    padding: 0px 30px;
    
    height: 40px;
    
    color: #FFF;
    background-color: #000;
    border: 0;
    border-radius: 4px;
    
    font-size: .875rem;
    font-weight: 300;
    line-height: 20px;
}

.button-20::after {
    content: '';
    display: block;

    position: absolute;
    top: 5px;
    left: 5px;

    width: 100%;
    height: 100%;
    
    border: 1px solid #000;
    border-radius: 4px;
    background-color: transparent;
}

.button-21 {
    position: relative;
    
    height: 60px;
    padding: 0px 30px;
    
    color: #000;
    background-color: transparent;
    border: 1px solid #266DB6;
    
    font-size: .875rem;
    font-weight: 300;
    line-height: 30px;
}

.button-21:before {
    content: "";
    
    position: absolute;
    right: -7px;
    top: -9px;

    width: 100%;
    height: 100%;

    transition: background-color 300ms ease-in;
    background-color: #D5EDF6;

    z-index: -1;
}

.button-21:hover:before {
    background-color: #6DCFF6;
}

.button-22 {
    position: relative;
    
    height: 50px;
    padding: 0px 60px;
    
    color: #000;
    background-color: transparent;
    border: 1px solid #266DB6;
    
    font-size: .875rem;
    font-weight: 300;
    line-height: 30px;
}

.button-22:before {
    content: "";
    
    position: absolute;
    top: 8px;
    left: 6px;

    width: 100%;
    height: 100%;

    transition: all 100ms linear;
    background-color: #ffe54c;

    z-index: -1;
}

.button-22:hover:before {
    top: 0;
    left: 0;
}

.button-23 {
    position: relative;
    
    transform: rotate(-2deg);
    height: 52px;
    padding: 0px 60px;
    
    color: #000;
    background-color: #ffe54c;
    
    
    font-size: .875rem;
    font-weight: 300;
    line-height: 26px;
}

.button-23::after {
    content: "";
    
    position: absolute;
    bottom: 4px;
    left: 4px;
    
    width: calc(100% - 1px);
    height: calc(100% - 1px);

    border: 1px solid #000;
    
    background-color: transparent;
}

.button-23:hover:after {
    bottom: 2px;
    left: 2px;
}

.button-24 {
    position: relative;
    
    height: 40px;
    padding: 0px 40px;
    
    color: #000;
    background-color: #efefef;
    border: 3px solid black;
    box-shadow: 1px 1px 0px 0px,
                2px 2px 0px 0px, 
                3px 3px 0px 0px, 
                4px 4px 0px 0px, 
                5px 5px 0px 0px;
    
    font-size: .875rem;
    font-weight: 300;
    line-height: 26px;
}

.button-25 {
    position: relative;
    
    height: 51px;
    width: 96.5px;
    
    color: #000;

    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;

    border-width: 2px;
    border-style: solid;
    border-color: #959595;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    
    font-size: .875rem;
    font-weight: 300;
    line-height: 26px;

    transition: all 235ms ease-in-out;
}

.button-25:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button-26 {
    position: relative;
    
    height: 51px;
    width: 96.5px;
    overflow: hidden;
    
    color: #000;

    border: 1px solid black;
    
    font-size: .875rem;
    font-weight: 300;
    line-height: 26px;

    transition: all 2ms ease-in-out;
}

.button-26__inside {
    position: absolute;
    top: 100%;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background: black;
    color: white;

    font-size: 10px;

    transition: all 235ms ease-in-out;
}

.button-26:hover .button-26__inside {
    top: 0;
}

.button-27 {
    position: relative;
    
    height: 51px;
    width: 96.5px;
    overflow: hidden;
    
    color: #000;

    border: 1px solid black;
    
    font-size: .875rem;
    font-weight: 300;
    line-height: 26px;

    transition: all 2ms ease-in-out;
}

.button-27::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -50%;

    transform: skewY(9.3deg) scaleY(0);
    transform-origin: bottom center;

    width: 100%;
    height: 100%;

    background: black;

    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
}

.button-27 span:nth-child(2) {
    position: absolute;
    top: 100%;
    left: 50%;

    width: 100%;
    z-index: 100;

    font-size: 11px;

    transform: translateX(-50%);
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
}

.button-27:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.button-27:hover span:nth-child(2) {
    color: white;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);

}

.button-28 {
    position: relative;
    height: 52px;
    padding: 0px 45px;
    
    height: 51px;

    
    color: white;
    
    font-size: .875rem;
    font-weight: 300;
    line-height: 26px;

    transition: all 2ms ease-in-out;
}

.button-28::before {
    content: '';
    display: block;

    position: absolute;
    right: -25px;
    bottom: -25px;

    width: 50px;
    height: 50px;
    z-index: -888;

    border-radius: 50%;
    background-color: #ffffff15;

    backdrop-filter: blur(5px);

    transition: all .4s;
}

.button-28::after {
    content: '';
    
    position: absolute;
    top: 0;
    left: 0;

    display: block;


    width: 100%;
    height: 100%;

    background-color: #333;
    border-radius: 5px;

    z-index: -999;
    transition: all .4s;
}

.button-28:hover::before {
    width: 100%;
    height: 100%;
    
    border-radius: 4px;
    
    right: 0;
    bottom: 0;
    
}

.button-28:hover::after {
    transform: scale(1.1) translateY(10px);
}

.button-29 {
    position: relative;
    height: 52px;
    padding: 0px 45px;
    
    height: 51px;

    background: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    background-size: 200% auto;

    color: white;
    
    font-size: .875rem;
    font-weight: 300;
    line-height: 26px;

    transition: all .5s;
}

.button-29:hover {
    background-position: right center;
}

/*
.button-30 {
    position: relative;
    height: 52px;
    padding: 0px 45px;
    
    height: 51px;

    background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
    #004dff;
    
    color: white;
    
    font-size: .875rem;
    font-weight: 300;
    line-height: 26px;

    transition: all .2s;
}

.button-30:hover {
    background-position: right center;
}
*/


.button-30 {
  --c: #fff;
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
  #004dff;
    
  /* background color */
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
    calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.9s;
}

.button-30:hover,
.button-30:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.button-30:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.button-30 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: .1em .3em;
}